@import "styles/variables.scss";

.headerContent {
  height: 820px;
  margin-bottom: 170px;
  .cards {
    position: absolute;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
    display: flex;
    gap: 20px;
    .card {
      padding-top: 150px;
      cursor: pointer;
      width: 614px;
      height: 890px;
      border-radius: 40px;
      box-shadow: -1px 1px 20px 0px rgb(111 108 119 / 70%);
      transition: all 0.5s ease;
      .imgBlock {
        position: relative;
        display: flex;
        justify-content: center;
        p {
          position: absolute;
          top: 230px;
          font-family: "Floreste Wavy";
          font-weight: 400;
          font-size: 70px;
          line-height: 66px;
          text-transform: uppercase;
          color: #cbb6ff;
        }
        img {
          position: absolute;
          width: 230px;
          height: 390px;
          transform: rotate(7deg);
          z-index: 2;
        }
      }
      .info {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding-top: 480px;
        text-align: center;
        .slide {
          opacity: 0.6;
          font-size: 15px;
          text-transform: uppercase;
          margin-bottom: 42px;
        }
        .number {
          font-size: 40px;
          font-family: "Floreste Wavy";
        }
        .title {
          text-transform: uppercase;
          font-family: "Euclid Circular";
          font-size: 20px;
          margin-bottom: 24px;
        }
        .text {
          max-width: 275px;
          line-height: 1.5;
          text-align: center;
          font-size: 15px;
          font-family: "Euclid Circular";
          padding-bottom: 24px;
          border-bottom: 1px solid rgba(255, 255, 255, 0.2);
        }
      }
      .infoActive {
        text-align: center;
      }
      .cost {
        display: flex;
        justify-content: center;
        margin-top: 28px;
        gap: 7px;
        .total {
          font-family: "Floreste Wavy";
          font-size: 28px;
        }
        .currency {
          font-size: 20px;
        }
      }
      .buyBtn {
        display: none;
      }
      &.cardExpanded {
        width: 1160px;
        height: 890px;
        font-size: 205px;
        .infoActive {
          display: flex;
          animation: btnExpand 1s ease forwards;

          .block {
            width: 275px;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
          }
        }
        .imgBlock {
          position: relative;
          p {
            margin-top: 100px;
            font-size: 205px;
            animation: textExpand 1s ease forwards;
          }
          img {
            width: 392px;
            height: 637px;
            transform: rotate(0deg);
          }
        }
        .info {
          align-items: start;
          margin-left: 61px;
          .text {
            text-align: start;
          }
        }
        .cost {
          .total {
            font-size: 40px;
          }
          .currency {
            font-size: 20px;
          }
        }
        .buyBtn {
          position: relative;
          display: flex;
          align-items: center;
          cursor: pointer;

          .innerCircle,
          .externalCircle {
            position: absolute;
            top: 0;
            left: 0;
            border: 2px solid $LimeColor;
            width: 356px;
            border-radius: 50%;
            height: 135px;
            transform: rotate(-13deg);
          }
          .innerCircle {
            background: rgba(255, 255, 255, 0.19);
          }
          .externalCircle {
            transform: rotate(359deg);
          }
          img {
            width: 24px;
            height: 24px;
            margin-right: 11px;
            margin-left: 131px;
          }
          img,
          p {
            margin-bottom: 65px;
          }
        }
      }
      &.cardCollapsed {
        width: 340px;
        height: 890px;
      }
    }
  }
  .slider {
    display: none;
  }
}

@media (max-width: 390px) {
  .headerContent {
    height: 555px;
    margin-bottom: 120px;
    margin-top: 25px;

    .cards {
      display: none;
    }
    .slider {
      display: flex;
      .card {
        position: relative;
        width: 361px;
        height: 554px;
        .imgBlock {
          position: absolute;
          top: 0;
          left: 50%;
          transform: translate(-50%);
          .bgImg {
            width: 170px;
            height: 320px;
            z-index: 2;
          }
          .bgText {
            position: absolute;

            top: 161px;
            right: 50%;
            transform: translate(50%);
            width: 361px;
            font-family: "Floreste Wavy";
            font-weight: 400;
            font-size: 71px;
            text-align: center;
            text-transform: uppercase;
            color: rgba(203, 182, 255, 0.6);
          }
          .dayProduct {
            position: absolute;
            right: 175px;
            top: 240px;
            width: 90px;
            color: $LimeColor;
            font-size: 12px;
            text-transform: uppercase;
          }
        }
        .buyBtn {
          position: relative;
          display: flex;
          align-items: center;
          cursor: pointer;
          top: 263px;
          left: 150px;
          .innerCircle,
          .externalCircle {
            position: absolute;
            top: 0;
            left: 0;
            border: 2px solid $LimeColor;
            width: 206px;
            border-radius: 50%;
            height: 78px;
            transform: rotate(-13deg);
          }
          .innerCircle {
            background: rgba(255, 255, 255, 0.19);
          }
          .externalCircle {
            transform: rotate(359deg);
          }
          p,
          img {
            margin-top: 30px;
          }
          p {
            font-size: 16px;
            margin-left: 7px;
          }
          img {
            margin-left: 60px;
            width: 17px;
            height: 17px;
          }
        }
        .productInfo {
          margin-top: 332px;
          h5 {
            margin-bottom: 14px;
            font-size: 23px;
            text-transform: uppercase;
          }
          p {
            width: 222px;
            font-size: 13px;
            line-height: 20px;
          }
          .cost {
            display: flex;
            align-items: center;

            margin-top: 35px;
            max-width: 150px;
            .total {
              color: $LimeColor;
              font-family: "Floreste Wavy";
              font-size: 28px;
            }
            .currency {
              color: $LimeColor;
              font-weight: 300;
              font-size: 20px;
              padding-left: 7px;
              margin-bottom: 14px;
            }
          }
        }
        .pagination {
          position: absolute;
          bottom: 0;
          right: 0;
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          align-items: center;
          width: 52px;
          height: 143px;
          background: white;
          border-radius: 50px;
          padding: 16px;

          .line {
            display: flex;

            width: 1px;
            height: 36px;
            background: $PurpleColor;
          }
          span {
            font-family: "Floreste Wavy";
            font-weight: 400;
            font-size: 25px;
            text-transform: uppercase;
            color: $PurpleColor;
          }
        }
      }
    }
  }
}

@keyframes textExpand {
  from {
    font-size: 70px;
  }
  to {
    font-size: 205px;
  }
}

@keyframes btnExpand {
  from {
    gap: 0;
  }
  to {
    gap: 445px;
  }
}
