@import "styles/variables.scss";

.category {
  .categoryTitle {
    margin-bottom: 70px;
    text-align: center;
    text-transform: uppercase;
    font-size: 60px;
  }
  .categoryCardsSlider {
    display: none;
  }
  .categoryCards {
    display: flex;
    justify-content: space-between;
  }
  .card {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 435px;
    height: 517px;
    background-image: url("assets/vectors/category/cardBg.svg");
    background-position: center;
    background-repeat: no-repeat;
    .title {
      position: absolute;
      font-size: 28px;
      line-height: 36px;
      text-transform: uppercase;
      width: 141px;
      height: 72px;
      left: 20px;
      top: 37px;
    }
    .lamp {
      height: 248px;
      width: auto;
    }
    .customMade {
      position: absolute;
      bottom: 60px;
      left: 37px;
      transform: translate(-50%, -50%) rotate(267deg);
      textPath {
        font-size: 4.5px;
        letter-spacing: 0.2em;
      }
    }
    .quantityBg {
      position: absolute;
      top: 178px;
      right: -10px;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 81px;
      height: 72px;
      background: $PinkColor;
      border-radius: 50%;
      transform: rotate(-23deg);
      .quantityText {
        transform: rotate(23deg);
        display: flex;
        align-items: center;
        .number {
          margin-right: 3px;
          font-family: "Floreste Wavy";
          font-weight: 400;
          font-size: 40px;
          text-transform: uppercase;
        }
        .pieces {
          font-size: 15px;
        }
      }
    }
    .arrowBtn,
    .arrowBtnActive {
      position: absolute;
      top: 445px;
      right: 165px;
      border-radius: 50%;
      width: 105px;
      height: 105px;
      background: rgba(#ebe3ff, 0.19);
      border: 2px solid $LimeColor;
      transition: all 0.5s ease;
      &.arrowBtnActive {
        background-color: $LimeColor;
        svg {
          path {
            stroke: $PurpleColor;
          }
        }
      }
      img {
        width: 34px;
        height: 34px;
      }
    }
  }
}

@media (max-width: 390px) {
  .category {
    .categoryTitle {
      font-size: 23px;
      text-align: start;
      margin-bottom: 35px;
    }
    .categoryCards {
      display: none;
    }
    .categoryCardsSlider {
      display: block !important;
      height: 302px;

      .card {
        display: flex !important;
        justify-content: center !important;
        align-items: center !important
        ;
        background-image: url("assets/vectors/category/cardBgSmall.svg");
        width: 239px;
        height: 312px;
        .lamp {
          width: 111px;
          height: 138px;
        }
        .title {
          font-size: 15px;
          line-height: 19px;
          left: 0;
          line-height: 19px;
        }
        .customMade {
          bottom: 35px;
          left: 24px;
          transform: translate(-50%, -50%) rotate(266deg);
          textPath {
            font-size: 4px;
            letter-spacing: 0.2em;
          }
        }
        .quantityBg {
          width: 46px;
          height: 40px;
          top: 108px;
          right: -6px;
          .quantityText {
            .number {
              font-weight: 400;
              font-size: 25px;
            }
            .pieces {
              font-size: 10px;
            }
          }
        }
        .arrowBtn,
        .arrowBtnActive {
          top: 256px;
          right: 91px;
          width: 56px;
          height: 56px;
          border: 1px solid $LimeColor;
          svg {
            width: 19px;
            height: 19px;
          }
          &.arrowBtnActive {
            svg {
              width: 19px;
              height: 19px;
            }
          }
        }
      }
    }
  }
}
