@import "styles/variables.scss";

.placeOrderModal {
  transition: all 0.5s ease;
  position: fixed;
  z-index: 999;
  background: $PurpleColor;
  backdrop-filter: blur(100px);

  width: 100%;
  height: 100%;
  top: 0;
  left: 0;

  .thankYouContent {
    height: 100%;
    padding: 60px 30px;
    position: relative;
    .thx {
      display: flex;
      justify-content: space-between;
      h2 {
        width: 250px;
        text-transform: uppercase;
      }
    }
    .bgText {
      display: flex;
      gap: 84px;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      position: absolute;
      z-index: 4;
      h1 {
        width: 688px;
        font-family: "Floreste Wavy";
        opacity: 0.2;
        font-weight: 400;
        font-size: 212px;
        text-transform: uppercase;
      }
    }
    .bgImg {
      display: flex;
      align-items: flex-end;
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);

      .imgBig {
        width: 388px;
        height: 759px;
      }
      .imgSmall {
        max-width: 450px;
        height: 450px;
      }
    }
  }

  .innerBlock {
    padding: 60px 30px;
    height: 100%;

    .top {
      display: flex;
      justify-content: space-between;
    }
    .form {
      margin-top: 66px;
      width: 882px;
      h4 {
        margin: 100px 0;
        font-size: 60px;
        text-transform: uppercase;
      }
      .formGroup {
        display: flex;
        flex-direction: column;
        &:not(:last-child) {
          margin-bottom: 50px;
        }
        input {
          background: transparent;
          border: none;
          border-bottom: 2px solid $LimeColor;
        }

        input::placeholder {
          text-transform: uppercase;
          color: $absoluteColorWhite;
        }
      }
      .placeOrderBtn {
        padding: 33px;
        border-radius: 50%;
        display: inline-block;
        background: rgba(235, 227, 255, 0.19);
        border: 2px solid $LimeColor;
        transform: rotate(-15deg);
        button {
          transform: rotate(15deg);
        }
      }
    }
    .cards {
      display: flex;
      flex-direction: column;
      max-height: 700px;
      min-width: 647px;
      overflow-y: auto;
      padding: 48px;
      border-radius: 30px;
      overflow-x: hidden;
      background-color: rgba($modalBgColor, 0.18);
      backdrop-filter: blur(100px);
      gap: 40px;
      .yourOrder {
        display: none;
      }
      .placeOrderBtnMobile {
        display: none;
      }
      .card {
        gap: 45px;
        display: flex;

        .productImg {
          height: 142px;
          min-width: 88px;
          width: 89px;
          max-width: 100px;
        }
        .options {
          width: 400px;
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          .top {
            display: flex;
            justify-content: space-between;
            padding-bottom: 30px;
            border-bottom: 2px solid $LimeColor;

            .productInfo {
              .productName {
                display: flex;
                gap: 12px;

                .mirrorColor {
                  display: inline-block;
                  background-color: #a5d4ff;
                  border: 3px solid #ffffff;
                  border-radius: 50%;
                  border: 1px solid;
                  width: 20px;
                  height: 20px;
                }
                .title {
                  text-transform: uppercase;
                }
              }
              .description {
                margin-top: 13px;
              }
            }
            .deleteBtn {
              width: 29px;
              height: 29px;
            }
          }
          .bottom {
            display: flex;
            align-items: center;
            justify-content: space-between;
            .cost {
              display: flex;
              gap: 7px;
              .total {
                font-family: "Floreste Wavy";
                font-size: 28px;
              }
              .currency {
                font-size: 20px;
              }
            }
            .calculating {
              display: flex;
              align-items: center;
              gap: 10px;
              .currentNumber {
                display: flex;
                justify-content: center;
                width: 25px;
              }
              .minus,
              .plus,
              .signsInActive {
                width: 45px;
                height: 45px;
                border: 2px solid white;
                border-radius: 50%;
                background: rgba(255, 255, 255, 0.19);
              }
              .signsInActive {
                opacity: 0.5;
              }
            }
          }
        }
      }
      .total {
        display: flex;
        justify-content: space-between;
        align-items: center;
        p {
          text-transform: uppercase;
        }
        .placeOrderBtn {
          padding: 33px 46px;
          border-radius: 50%;
          display: flex;
          margin-top: 15px;
          gap: 7px;
          background: rgba(235, 227, 255, 0.19);
          border: 2px solid $LimeColor;
          transform: rotate(-6deg);
          .orderTotal {
            transform: rotate(6deg);
            font-family: "Floreste Wavy";
            font-weight: 400;
            font-size: 30px;
            text-transform: uppercase;
            letter-spacing: 0.04em;
          }
          .orderCurrency {
            transform: rotate(6deg);
            text-transform: uppercase;
          }
        }
      }
    }
  }
}

@media (max-width: 390px) {
  .placeOrderModal {
    .thankYouContent {
      padding: 15px;
      .thx {
        margin-top: 130px;
        display: flex;
        justify-content: center;
        h2 {
          width: 210px;
          text-transform: uppercase;
          font-size: 15px;
          letter-spacing: 0.1em;
          &:not(:first-child) {
            display: none;
          }
        }
      }
      .bgText {
        display: flex;
        gap: 84px;
        left: 50%;
        top: 27%;
        transform: translate(-50%, -50%);
        position: absolute;
        z-index: 4;
        h1 {
          width: 344px;
          opacity: 0.2;
          font-weight: 400;
          font-size: 110px;
        }
      }
      .bgImg {
        z-index: 6;
        display: flex;
        align-items: flex-end;
        position: absolute;
        left: 30%;
        top: 22%;
        transform: translate(-50%, -50%);

        .imgBig {
          width: 200px;
          height: 300px;
          top: 50px;
          left: 0;
          position: absolute;
          transform: rotate(-8deg);
        }
        .imgSmall {
          display: none;
        }
        .imgSmallMobile01,
        .imgSmallMobile02,
        .imgSmallMobile03 {
          position: absolute;
          width: 200px;
          height: 300px;
        }
        .imgSmallMobile01 {
          left: 120px;
          bottom: -450px;
        }
        .imgSmallMobile02 {
          left: 0;
          bottom: -600px;
        }
        .imgSmallMobile03 {
          top: 110px;
          left: -130px;
        }
      }
    }

    .innerBlock {
      padding: 15px;

      .top {
        flex-direction: column;
      }
      .form {
        margin: 0;
        width: 100%;
        h4 {
          margin: 50px 0;
          font-size: 15px;
          letter-spacing: 0.1em;
        }
        .formGroup {
          &:not(:last-child) {
            margin-bottom: 40px;
          }
          input {
            padding-bottom: 20px;
            border-bottom: 1px solid $LimeColor;
          }

          input::placeholder {
            font-size: 15px;
          }
        }
        .placeOrderBtn {
          display: none;
        }
      }
      .cards {
        max-height: 460px;
        overflow-y: auto;
        padding: 0;
        border-radius: 0;
        overflow-x: hidden;
        background-color: transparent;
        transition: max-height 0.3s ease-in-out;
        .collapsed {
          display: none;
          transition: max-height 0.3s ease-in-out;
        }
        .card {
          .productImg {
            height: 120px;
            min-width: 70px;
            width: 75px;
            max-width: 85px;
          }
          .options {
            width: 100%;
            .top {
              display: flex;
              flex-direction: row;
              padding-bottom: 15px;
              border-bottom: 1px solid $LimeColor;

              .productInfo {
                .productName {
                  gap: 10px;

                  .mirrorColor {
                    border: 3px solid #ffffff;
                    width: 16px;
                    height: 16px;
                  }
                  .title {
                    text-transform: uppercase;
                    font-size: 15px;
                  }
                }
                .description {
                  margin-top: 13px;
                  font-size: 13px;
                }
              }
              .deleteBtn {
                width: 29px;
                height: 29px;
              }
            }
            .bottom {
              .cost {
                display: flex;
                gap: 7px;
                .total {
                  font-size: 25px;
                  letter-spacing: 0.04em;
                }
                .currency {
                  font-size: 15px;
                }
              }
              span {
                font-size: 16px;
              }
            }
          }
        }
        .total {
          p {
            display: none;
            text-transform: uppercase;
          }
          .placeOrderBtn {
            display: none;

            .orderTotal {
              display: none;
            }
          }
        }
        .placeOrderBtnMobile {
          padding: 40px 50px;
          width: 185px;
          height: 110px;
          border-radius: 50%;
          display: inline-block;
          margin-top: 10px;
          background: rgba(235, 227, 255, 0.19);
          border: 1px solid $LimeColor;
          transform: rotate(-15deg);
          p {
            transform: rotate(15deg);
          }
        }
        .totalOrder {
          display: none;
        }
        .yourOrder {
          display: flex;
          gap: 15px;
          align-items: center;
          .arrowCollapsed {
            transform: rotate(180deg);
            transition: transform 0.3s ease;
            img {
              width: 20px;
              height: 20px;
              transform: rotate(-1deg);
            }
          }
        }
      }
    }
  }
}
