@import "styles/variables.scss";

.blog {
  margin-bottom: 170px;
  .top {
    margin-bottom: 70px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    .left {
      display: flex;
      align-items: center;
      .paginationDot {
        margin-right: 45px;

        .dot {
          display: inline-block;
          width: 10px;
          height: 10px;
          border-radius: 50%;
          opacity: 0.3;
          background: white;
          &:not(:last-child) {
            margin-right: 7px;
          }
          &:focus {
            outline: none;
          }
        }
        .activeDot {
          background: white;
          opacity: 1;
        }
      }
      .blogTitle {
        font-size: 60px;
        text-transform: uppercase;
      }
    }
    .paginationNumber {
      display: flex;
      align-items: center;
      gap: 30px;
      p {
        font-family: "Floreste Wavy";
        font-size: 40px;
        text-transform: uppercase;
      }
      span {
        border-bottom: 2px solid $LavenderColor;
        width: 63px;
      }
    }
  }
  .cards {
    :global {
      .slick-list {
        height: 376px;
      }
    }
    .card {
      display: flex !important;
      flex-direction: column;
      justify-content: space-between;
      position: relative;
      background-image: url("/src/assets/vectors/blog/cardBgSvg.svg");
      background-repeat: no-repeat;
      background-size: auto;
      height: 342px;
      padding: 25px;
      img {
        position: absolute;
        left: 310px;
        top: 13px;
        width: 257px;
        height: 317px;
        border-radius: 28px;
      }

      .cardInfoTop {
        display: flex;
        align-items: center;
        gap: 126px;
        .number {
          font-size: 15px;
          opacity: 0.6;
        }
        .author {
          width: 90px;
          text-align: end;
          line-height: 23px;
        }
      }
      .articleTitle {
        margin-bottom: 25px;
        font-size: 28px;
        line-height: 36px;
        text-transform: uppercase;
        width: 236px;
      }
      .publicationDate {
        max-width: 110px;
        line-height: 19px;
      }
      .readingTime {
        position: absolute;
        flex-direction: column;
        display: flex;
        justify-content: space-around;
        align-items: center;
        text-align: center;
        top: 294px;
        left: 130px;
        width: 100px;
        height: 81px;
        border-radius: 50%;
        background: $PurpleColor;
        border: 2px solid $LimeColor;
        padding: 13px 29px 18px 28px;
        .readingBlock {
          transform: rotate(-15deg);
          .innerBlockTime {
            font-family: "Floreste Wavy";
            font-size: 35px;
            height: 30px;
          }
          .innerBlockMin {
            font-size: 17px;
          }
        }
      }
    }
  }
}

@media (max-width: 390px) {
  .blog {
    margin-bottom: 120px;
    .top {
      margin-bottom: 35px;
      .left {
        .paginationDot {
          margin-right: 20px;

          .dot {
            width: 7px;
            height: 7x;
          }
        }
        .blogTitle {
          font-size: 23px;
        }
      }
      .paginationNumber {
        gap: 20px;
        p {
          font-size: 25px;
        }
        span {
          border-bottom: 1px solid $LavenderColor;
          width: 36px;
        }
      }
    }
    .cards {
      :global {
        .slick-list {
          height: 376px;
        }
      }
      .card {
        background-image: url("/src/assets/vectors/blog/cardBgSvgSmall.svg");
        height: 243px;
        padding: 15px;
        img {
          left: 194px;
          top: 10px;
          width: 156px;
          height: 223px;
        }

        .cardInfoTop {
          gap: 76px;
          .number {
            font-size: 13px;
            opacity: 0.6;
          }
          .author {
            width: 56px;
            text-align: end;
            font-size: 13px;
            line-height: 20px;
          }
        }
        .articleTitle {
          margin-bottom: 44px;
          width: 115px;
          font-size: 15px;
          line-height: 19px;
        }
        .publicationDate {
          width: 82px;
          font-size: 12px;
          line-height: 15px;
        }
        .readingTime {
          position: absolute;
          flex-direction: column;
          display: flex;
          justify-content: center;
          align-items: center;
          text-align: center;
          top: 210px;
          left: 75px;
          width: 70px;
          height: 65px;
          border: 1px solid $LimeColor;
          padding: 30px 20px;
          .readingBlock {
            transform: rotate(-15deg);
            .innerBlockTime {
              font-family: "Floreste Wavy";
              font-size: 25px;
              height: 21px;
            }
            .innerBlockMin {
              font-size: 12px;
            }
          }
        }
      }
    }
  }
}
