@import "styles/variables.scss";

.headerNav {
  margin-top: 53px;
  z-index: 22;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;

  .logoCatalog {
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 133px;
    .logo {
      h5 {
        font-family: "Le Murmure";
        font-size: 45px;
      }
    }

    .catalog {
      display: flex;
      img {
        width: 15px;
        height: 15px;
      }
      p {
        margin-left: 12px;
      }
    }
  }

  .blogContacts {
    display: flex;
    gap: 30px;
  }

  .searchUserAction {
    display: flex;
    align-items: center;
    gap: 247px;
    .search {
      display: flex;
      align-items: center;
      cursor: pointer;
      img {
        width: 26px;
        height: 26px;
        margin-right: 12px;
      }
    }

    .userAction {
      display: flex;
      align-items: center;
      margin-right: 70px;
      gap: 36px;
      button {
        width: 20px;
        height: 20px;
        .heartSvg {
          width: 22px;
          height: 20px;
        }
        .userSvg {
          width: 18px;
          height: 20px;
        }
        .basketSvg {
          width: 21px;
          height: 21px;
        }
      }
      .contactsPhone {
        display: none;
      }
    }
  }
}

@media (max-width: 390px) {
  .headerNav {
    margin-top: 27px;
    .logoCatalog {
      gap: 89px;
      .logo {
        width: 80px;

        h5 {
          font-family: "Le Murmure";
          font-weight: 600;
          font-size: 33px;
        }
      }

      .catalog {
        display: none;
      }
    }

    .blogContacts {
      display: none;
    }

    .searchUserAction {
      gap: 0;
      .search {
        margin-right: 18px;
        img {
          margin: 0;
          width: 25px;
          height: 25px;
        }
        button {
          display: none;
        }
      }

      .userAction {
        gap: 18px;
        margin-right: 0;
        img {
          width: 22px;
          height: 20px;
        }
        .contactsPhone {
          display: flex;
        }
      }
    }
  }
}
