@import "styles/variables.scss";

@keyframes expand {
  0% {
    opacity: 0;
    transform: scaleY(0);
  }
  100% {
    opacity: 1;
    transform: scaleY(1);
  }
}

@keyframes collapse {
  0% {
    opacity: 1;
    transform: scaleY(1);
  }
  100% {
    opacity: 0;
    transform: scaleY(0);
  }
}

.authModal {
  top: 60px;
  right: 0;
  position: absolute;
  z-index: 998;
  backdrop-filter: blur(100px);
  &.authModalOpen {
    animation: expand 0.3s ease forwards;
    max-height: 808px;
  }

  &.authModalClosed {
    animation: collapse 0.3s ease forwards;
    max-height: 0;
  }

  .innerBlock {
    padding: 60px;
    height: 100%;

    .top {
      display: flex;
      justify-content: space-between;

      .right {
        display: flex;
        flex-direction: column;
        align-items: end;
        .favoriteBtn,
        .favoriteBtnActive {
          margin-top: 74px;
          display: flex;
          justify-content: center;
          align-items: center;
          width: 79px;
          height: 79px;
          border-radius: 50%;
          svg {
            width: 24px;
            height: 24px;
          }
        }
        .favoriteBtn {
          border: 2px solid $LimeColor;
          background-color: rgba(255, 255, 255, 0.2);
          svg {
            path:not(:first-child) {
              fill: $LimeColor;
            }
          }
        }
        .favoriteBtnActive {
          border: 2px solid $PinkColor;
          background-color: rgba(255, 255, 255, 0.2);
          svg {
            fill: white;
            path {
              fill: white;
            }
            path:not(:first-child) {
              fill: $PinkColor;
            }
          }
        }
        .closeModal {
          display: flex;
          align-items: center;
          gap: 18px;
          text-transform: uppercase;
          color: #dad1f2;
          img {
            width: 20px;
            height: 20px;
          }
        }
      }
    }
    .middle {
      margin-top: 73px;
      position: relative;
      .colorHeight {
        display: flex;
        justify-content: space-between;

        .colorBlock {
          display: flex;
          align-items: center;
          .option {
            text-transform: uppercase;
          }
          span {
            margin-left: 33px;
            display: inline-block;
            width: 16px;
            height: 16px;
            border-radius: 50%;
            border: 3px solid white;
            background-color: $PurpleDarkColor;
          }
          .nameColor {
            line-height: 23px;
            margin-left: 15px;
            text-transform: uppercase;
          }
        }
        .characteristics {
          display: flex;
          p {
            text-transform: uppercase;
          }
          p:not(:last-child) {
            margin-right: 20px;
          }
        }
      }
      .bg {
        position: absolute;
        left: 50%;
        top: 50px;
        transform: translate(-50%, -50%);
        h1 {
          width: 1800px;
          position: absolute;
          left: -725px;
          top: 50%;
          display: flex;
          justify-content: center;
          z-index: 1;
          font-family: "Floreste Wavy";
          font-weight: 400;
          font-size: 330px;
          text-transform: uppercase;
          color: rgba($LavenderColor, 0.6);
        }
        img {
          position: relative;
          z-index: 2;
          min-width: 340px;
          min-height: 666px;
        }
      }
    }
    .bottom {
      display: flex;
      justify-content: space-between;
      margin-top: 385px;
      .functional {
        max-width: 349px;
        font-size: 20px;
        line-height: 154%;
      }
      .productInfo {
        .title {
          font-family: "Floreste Wavy";
          font-weight: 400;
          font-size: 100px;
          text-transform: uppercase;
        }
        .cost {
          display: flex;
          justify-content: center;
          margin-top: 22px;
          gap: 7px;
          .total {
            font-family: "Floreste Wavy";
            font-weight: 400;
            font-size: 40px;
            color: $LimeColor;
          }
          .currency {
            color: $LimeColor;
            font-weight: 400;
            font-size: 20px;
            text-transform: uppercase;
          }
        }
      }
      .buyBtn {
        margin-right: 130px;
        position: relative;
        display: flex;
        align-items: center;
        cursor: pointer;

        .innerCircle,
        .externalCircle {
          position: absolute;
          top: 0;
          left: 0;
          border: 2px solid $LimeColor;
          width: 356px;
          border-radius: 50%;
          height: 135px;
          transform: rotate(-13deg);
        }
        .innerCircle {
          background: rgba(255, 255, 255, 0.19);
        }
        .externalCircle {
          transform: rotate(359deg);
        }
        img {
          width: 24px;
          height: 24px;
          margin-right: 11px;
          margin-left: 131px;
        }
        img,
        p {
          margin-bottom: 20px;
        }
      }
    }
  }

  .login,
  .register {
    border-radius: 30px;
    background-color: rgba($modalBgColor, 0.18);
    backdrop-filter: blur(100px);
    padding: 23px 46px;
  }
  .login {
    width: 610px;
    height: 516px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    .top {
      display: flex;
      justify-content: space-between;
      align-items: center;

      .enter {
        text-transform: uppercase;
      }
      .closeModal {
        img {
          width: 18px;
          height: 18px;
        }
      }
    }
    .form {
      margin-top: 66px;
      .formGroup {
        display: flex;
        flex-direction: column;
        &:not(:last-child) {
          margin-bottom: 50px;
        }
        input {
          background: transparent;
          border: none;
          border-bottom: 2px solid $LimeColor;
        }

        input::placeholder {
          text-transform: uppercase;
          color: $absoluteColorWhite;
        }
      }
      .placeOrderBtn {
        padding: 33px;
        border-radius: 50%;
        display: inline-block;
        background: rgba(235, 227, 255, 0.19);
        border: 2px solid $LimeColor;
        transform: rotate(-15deg);
        button {
          transform: rotate(15deg);
        }
      }
    }
    .registerBlock {
      margin-top: 68px;
      display: flex;
      gap: 25px;
      .noAcc {
        text-transform: uppercase;
      }
      .registerBtn {
        display: flex;
        gap: 17px;
        text-transform: uppercase;
        display: flex;
        align-items: center;
      }
    }
  }
  .register {
    width: 610px;
    height: 604px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    .top {
      display: flex;
      justify-content: space-between;
      align-items: center;

      .registerTitle {
        text-transform: uppercase;
      }
      .closeModal {
        img {
          width: 18px;
          height: 18px;
        }
      }
    }
    .form {
      margin-top: 66px;
      .formGroup {
        display: flex;
        flex-direction: column;
        &:not(:last-child) {
          margin-bottom: 50px;
        }
        input {
          background: transparent;
          border: none;
          border-bottom: 2px solid $LimeColor;
        }

        input::placeholder {
          text-transform: uppercase;
          color: $absoluteColorWhite;
        }
      }
      .placeOrderBtn {
        padding: 33px;
        border-radius: 50%;
        display: inline-block;
        background: rgba(235, 227, 255, 0.19);
        border: 2px solid $LimeColor;
        transform: rotate(-15deg);
        button {
          transform: rotate(15deg);
        }
      }
    }
    .registerBlock {
      margin-top: 68px;
      display: flex;
      gap: 25px;
      .noAcc {
        text-transform: uppercase;
      }
      .registerBtn {
        display: flex;
        gap: 17px;
        text-transform: uppercase;
        display: flex;
        align-items: center;
        img {
          transform: rotate(180deg);
        }
      }
    }
  }
}

@media (max-width: 390px) {
  .authModal {
    transition: all 0.5s ease;
    position: fixed;
    z-index: 999;
    background: rgba($PurpleColor, 0.25);
    backdrop-filter: blur(100px);
    justify-content: space-evenly;
    width: 100%;
    height: 100%;
    top: 20px;
    left: 15px;
    &.authModalOpen {
      animation: expand 0.3s ease forwards;
      max-height: 100%;
    }

    &.authModalClosed {
      animation: collapse 0.3s ease forwards;
      max-height: 0;
    }

    .innerBlock {
      padding: 60px;
      height: 100%;

      .top {
        display: flex;
        justify-content: space-between;

        .right {
          display: flex;
          flex-direction: column;
          align-items: end;
          .favoriteBtn,
          .favoriteBtnActive {
            margin-top: 74px;
            display: flex;
            justify-content: center;
            align-items: center;
            width: 79px;
            height: 79px;
            border-radius: 50%;
            svg {
              width: 24px;
              height: 24px;
            }
          }
          .favoriteBtn {
            border: 2px solid $LimeColor;
            background-color: rgba(255, 255, 255, 0.2);
            svg {
              path:not(:first-child) {
                fill: $LimeColor;
              }
            }
          }
          .favoriteBtnActive {
            border: 2px solid $PinkColor;
            background-color: rgba(255, 255, 255, 0.2);
            svg {
              fill: white;
              path {
                fill: white;
              }
              path:not(:first-child) {
                fill: $PinkColor;
              }
            }
          }
          .closeModal {
            display: flex;
            align-items: center;
            gap: 18px;
            text-transform: uppercase;
            color: #dad1f2;
            img {
              width: 20px;
              height: 20px;
            }
          }
        }
      }
      .middle {
        margin-top: 73px;
        position: relative;
        .colorHeight {
          display: flex;
          justify-content: space-between;

          .colorBlock {
            display: flex;
            align-items: center;
            .option {
              text-transform: uppercase;
            }
            span {
              margin-left: 33px;
              display: inline-block;
              width: 16px;
              height: 16px;
              border-radius: 50%;
              border: 3px solid white;
              background-color: $PurpleDarkColor;
            }
            .nameColor {
              line-height: 23px;
              margin-left: 15px;
              text-transform: uppercase;
            }
          }
          .characteristics {
            display: flex;
            p {
              text-transform: uppercase;
            }
            p:not(:last-child) {
              margin-right: 20px;
            }
          }
        }
        .bg {
          position: absolute;
          left: 50%;
          top: 50px;
          transform: translate(-50%, -50%);
          h1 {
            width: 1800px;
            position: absolute;
            left: -725px;
            top: 50%;
            display: flex;
            justify-content: center;
            z-index: 1;
            font-family: "Floreste Wavy";
            font-weight: 400;
            font-size: 330px;
            text-transform: uppercase;
            color: rgba($LavenderColor, 0.6);
          }
          img {
            position: relative;
            z-index: 2;
            min-width: 340px;
            min-height: 666px;
          }
        }
      }
      .bottom {
        display: flex;
        justify-content: space-between;
        margin-top: 385px;
        .functional {
          max-width: 349px;
          font-size: 20px;
          line-height: 154%;
        }
        .productInfo {
          .title {
            font-family: "Floreste Wavy";
            font-weight: 400;
            font-size: 100px;
            text-transform: uppercase;
          }
          .cost {
            display: flex;
            justify-content: center;
            margin-top: 22px;
            gap: 7px;
            .total {
              font-family: "Floreste Wavy";
              font-weight: 400;
              font-size: 40px;
              color: $LimeColor;
            }
            .currency {
              color: $LimeColor;
              font-weight: 400;
              font-size: 20px;
              text-transform: uppercase;
            }
          }
        }
        .buyBtn {
          margin-right: 130px;
          position: relative;
          display: flex;
          align-items: center;
          cursor: pointer;

          .innerCircle,
          .externalCircle {
            position: absolute;
            top: 0;
            left: 0;
            border: 2px solid $LimeColor;
            width: 356px;
            border-radius: 50%;
            height: 135px;
            transform: rotate(-13deg);
          }
          .innerCircle {
            background: rgba(255, 255, 255, 0.19);
          }
          .externalCircle {
            transform: rotate(359deg);
          }
          img {
            width: 24px;
            height: 24px;
            margin-right: 11px;
            margin-left: 131px;
          }
          img,
          p {
            margin-bottom: 20px;
          }
        }
      }
    }

    .login,
    .register {
      padding: 20px;
    }
    .login {
      width: 360px;
      min-height: 405px;
      .top {
        .enter {
          text-transform: uppercase;
        }
        .closeModal {
          img {
            width: 22px;
            height: 22px;
          }
        }
      }
      .form {
        margin-top: 60px;
        .formGroup {
          &:not(:last-child) {
            margin-bottom: 40px;
          }
          input {
            border-bottom: 1px solid $LimeColor;
            padding-bottom: 15px;
          }

          input::placeholder {
            font-size: 15px;
          }
        }
        .placeOrderBtn {
          border: 1px solid $LimeColor;
        }
      }
      .registerBlock {
        margin-top: 24px;
        gap: 15px;
        .noAcc {
          text-transform: uppercase;
          font-size: 12px;
          letter-spacing: 0.1em;
        }
        .registerBtn {
          font-size: 12px;
          letter-spacing: 0.1em;
          gap: 10px;
          img {
            width: 41px;
            height: 15px;
          }
        }
      }
    }
    .register {
      width: 360px;
      min-height: 482px;

      .top {
        .registerTitle {
          text-transform: uppercase;
          font-size: 15px;
        }
        .closeModal {
          img {
            width: 22px;
            height: 22px;
          }
        }
      }
      .form {
        margin-top: 60px;
        .formGroup {
          &:not(:last-child) {
            margin-bottom: 40px;
          }
          input {
            padding-bottom: 15px;
            border-bottom: 1px solid $LimeColor;
          }

          input::placeholder {
            font-size: 15px;
          }
        }
        .placeOrderBtn {
          padding: 26px 17px;
          border: 1px solid $LimeColor;
          button {
            font-size: 15px;
          }
        }
      }
      .registerBlock {
        margin-top: 29px;
        gap: 10px;
        p {
          font-size: 15px;
        }
        .registerBtn {
          gap: 10px;
          img {
            transform: rotate(180deg);
            height: 10px;
          }
        }
      }
    }
  }
}
