@import "styles/variables.scss";

.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 90px;
  .yaer {
    font-family: "Gilory-Light";
  }
  .footerBtn {
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    height: 118px;
    width: 228px;
    background: rgba(255, 255, 255, 0.19);
    border-radius: 50%;
    border: 2px solid $LimeColor;
    transform: rotate(-13deg);

    .textBtn {
      transform: rotate(13deg);
      p {
        font-family: "Circe";
        font-size: 18px;
        line-height: 27px;
        font-weight: 700;
        span {
          font-weight: 300;
        }
      }
      img {
        width: 40px;
        height: 40px;
        margin-bottom: 1px;
      }
    }
  }
  .rights {
    font-family: "Gilory-Light";
  }
}
